{% extends "orders/base.html" %}

{% block title %}
Your Cart
{% endblock %}

{% block body %}
    <h1>Your Shopping Cart</h1>
    <br>

    <h1>{{ cart }}</h1>
    <hr>
    <h1>{{ delete }}</h1>
    <h2>{{ debug }}</h2>

    {% for item in addeditems %}
        <h2>{{ item }}</h2>
    {% endfor %}

    <h4>Your Items</h4><br><br>
    {% if not addeditems %}
    <div class="alert alert-warning" role="alert" style="width: 50%; margin: auto;">
        Your shopping cart is currently empty!
        Click <a href="{% url 'menu' %}">here</a> to see the menu!
    </div>    
    {% else %}
        <div class="container-fluid"><b>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2"><h5>Product</h5></div>
                <div class="col-3"></div>
                <div class="col-2"><h5>Qty</h5></div>
                <div class="col-2"><h5>Price</h5></div>
                <div class="col-1"></div>
            </div><br>
            {% for item in addeditems %}
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2" style="margin-top: auto; margin-bottom: auto;">
                        <img class="img-fluid" src="/static/orders/images/{{ item.item.product.category.name }}/{{ item.item.product.name }}.jpg" alt="Image" style="max-height: 150px; border-radius: 50%;">
                    </div>
                    <div class="col-3" style="margin-top: auto; margin-bottom: auto;">
                        <p>{{ item.item.product }} {% if item.item.get_size_display %}({{ item.item.get_size_display }}){% endif %}</p>
                        {% if item.extras.all %}
                            {% for extra in item.extras.all %}
                                <p style="color: rgba(205, 33, 42); font-size: 14px;">
                                    {% if item.item.product.addon_limit > 0 %}
                                        {{ item.item.product.addon_category}}(s): {{ extra }}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-2" style="margin-top: auto; margin-bottom: auto;">
                        <div class="row">
                            <div class="col-5 text-right">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="minusitem" value="{{ item.id }}">
                                    <input class="btn btn-primary pizza-button" type="submit" value="-" style="border: none; height: 25px; width: 25px; padding: 0px; padding-bottom: 1px;">
                                </form>
                            </div>
                            <div class="col-2">{{ item.quantity }}</div>
                            <div class="col-5">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="additem" value="{{ item.id }}">
                                    <input class="btn btn-primary pizza-button" type="submit" value="+" style="border: none; height: 25px; width: 25px; padding: 0px; padding-bottom: 1px;">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="margin-top: auto; margin-bottom: auto;">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="deleteitem" value="{{ item.id }}">
                            {{ item.totalprice }} | {{ item.id }}&nbsp;
                            <input class="btn btn-primary pizza-button" type="submit" value="X" style="border: none; border-radius: 50%; height: 25px; width: 25px; padding: 0px; padding-bottom: 1px;">
                        </form>
                    </div>
                    <div class="col-1"></div>
                </div>
                <br>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <br><br><hr style="width: 50%;"><br><br><br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2">
                {{ cart.totalquantity }} Item(s) in Total
            </div>
            <div class="col-2">
                ${{ cart.subtotal }}
            </div>
            <div class="col-4"></div>
        </div><br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2">
                Delivery
            </div>
            <div class="col-2">
                {% if deliveryfee %}
                    ${{ deliveryfee }}
                {% else %}
                    FREE!
                {% endif %}
            </div>
            <div class="col-4"></div>
        </div><br>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2">
                Subtotal
            </div>
            <div class="col-2">
                {% if deliveryfee %}
                    ${{ totalprice }}
                {% else %}
                    ${{ cart.subtotal }}
                {% endif %}
            </div>
            <div class="col-4"></div>
        </div>
        <br><br><br><hr style="width: 50%;"><br>
        <h4>Delivery</h4>
    </b></div>

{% endblock %}