{% extends 'orders/base.html' %}

{% block title %}
Welcome!
{% endblock %}

{% block body %}
    <h1>Welcome to Zij's Pizzijria!</h1>
    <h4>How may we take your order?</h4>
    <br>
    {% if canOrder %}
    <hr style="width: 75%;">
    {% include 'orders/menu.html' %}
    {% else %}
        <div class="alert alert-warning" role="alert" style="width: 35%; margin: auto;">
            You are currently not logged in!
        </div> 
        <br>
        <p>Register for an account <a href="{% url 'register' %}">here</a> to start ordering.</p>
        <p>Already have an account? Login <a href="{% url 'login' %}">here</a> here to make an order.</p>
    {% endif %}
{% endblock %}