{% extends "orders/base.html" %}

{% block title %}
    Order History
{% endblock %}

{% block body %}
    <h4>This is your Order History</h4><br>
    {% if carts %}
        {% for cart in carts %}
            <h5>Order: 10000{{ cart.id }}</h5>
            {% for item in cart.items.all %}
                <p>{{ item }}</p>
            {% endfor %}
            <h6>Price: ${{ cart.subtotal }}</h6>
            <h6>Time Ordered: {{ cart.ordered_time }}</h6>
            <h6>Delivery Time: {{ cart.delivered_time }}</h6>
            <br>
            <hr style="width: 25%;">
            <br>
        {% endfor %}
    {% else %}
        <p>No order history found!</p>
    {% endif %}
{% endblock %}